on:
  push:
    branches:
      - master
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

name: release-please

jobs:
  release:
    runs-on: ubuntu-latest
    outputs:
      release-published: ${{ steps.release.outputs.release_created }}
    steps:
      - uses: google-github-actions/release-please-action@v4
        id: release
        with:
          # this assumes that you have created a personal access token
          # (PAT) and configured it as a GitHub action secret named
          # `MY_RELEASE_PLEASE_TOKEN` (this secret name is not important).
          token: ${{ secrets.MY_RELEASE_PLEASE_TOKEN }}
          # this is a built-in strategy in release-please, see "Action Inputs"
          # for more options
          release-type: node
          # create a release from a path other than the repository's root
          # path: pkg/cmd
          # The short ref name of the branch or tag that triggered
          # the workflow run. For example, `main` or `1.x`
          # target-branch: ${{ github.ref_name }}
          
          # If true, do not attempt to create releases. 
          # This is useful if splitting release tagging from PR creation.
          # skip-github-release: true

  publish:
    if: needs.release.outputs.release-published
    needs: release
    uses: ./.github/workflows/publish.yml
